@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: rgb(0 0 0) !important;
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: rgb(0 0 0) !important; 
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0) !important;
}

section{
    scroll-margin-top: 50px;
}
